.DS_store
Detrack
.vs
Settings.StyleCop
DetrackLibrary/.vs
DetrackLibrary/bin
DetrackLibrary/obj
DetrackLibrary/.DS_Store
DetrackLibrary/DetrackLibrary.sln
DetrackLibrary/Settings.StyleCop
DetrackLibrary/StyleCop.Cache
DetrackTest/bin
DetrackTest/obj
DetrackTest/.DS_Store

